.index_bg {
  background-color: #4489f3;
}

body {
  font-family: "Involve", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &-wrapper {
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
}

.header-navbar {
  display: flex;
  align-items: center;
  gap: 28px;

  &-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
  }
}

.index_offset {
  padding-top: 168px;
  padding-bottom: 180px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 9px;
}

.header-tel {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 17px 21px;
}

.btn_default {
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  padding: 21px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  border: none;
  line-height: 1;
  color: #fff;
  display: inline-flex;
  gap: 10px;
  background-color: #4489f3;
}

.wrapper_default {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn_white {
  color: #4489f3;
  background-color: #fff;
}

.index__item {
  box-shadow: 1px 2px 10px 0 rgba(27, 185, 148, 0.15);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 120px 120px 20px 20px;
  padding: 40px;
  min-height: 354px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.index-img-item-right {
  position: absolute;
  right: -72px;
  bottom: 0;
}

.index__container {
  position: relative;
}

.index__content {
  max-width: 950px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: -10px;
}

.index-width {
  width: 50%;
  padding: 10px;

  &:nth-child(1) {
    .index__item {
      padding: 21px;
    }
  }

  &:nth-child(2) {
    .index__item {
      padding: 25px;
    }
  }

  &:last-child {
    .index__item {
      border-radius: 85px 85px 20px 20px;
      justify-content: flex-start;
      border-bottom-left-radius: 0;
    }
  }
}

.index-width:nth-child(3) {
  width: 100%;
}

.index__image {
  position: absolute;
  right: 0;
}

.index__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #272727;
  max-width: 159px;
  position: relative;
  line-height: 1.4;
  left: 30px;
}

.index__number {
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #4489f3;
}

.index__label {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #4489f3;
  line-height: 1.3;
}

.index__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #272727;
  margin-bottom: 66px;
}

.index__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn_transparent {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #4489f3;
  color: #4489f3;
}

.index {
  position: relative;
}

.index-img-left {
  position: absolute;
  left: 0;
  top: 170px;
}

.index-img-right {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: -200px;
}

.index__container {
  position: relative;
}

.index__image {
  position: absolute;
  top: -49px;
  right: -262px;
}

.smile {
  &_bg {
    background: linear-gradient(180deg,
        #4489f3 9.62%,
        #d9e3f9 52.88%,
        #f5f2f4 70.67%,
        #feebdb 87.5%);
  }
}

.smile-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 40px;
  padding: 40px;
  background-color: #fff;
}

.main-title {
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 30px;
}

.main-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #272727;
}

.consulting__width {
  max-width: 474px;
  width: 100%;
}

.consulting__block {
  .main-subtitle {
    max-width: 613px;
    width: 100%;
  }

  .main-title {
    margin-bottom: 0;
  }
}

.smile__item {
  position: relative;
  background: #f8f8f9;
  padding: 16px;
  border-radius: 12px;
  position: relative;
  padding-top: 48px;
}

.smile-art {
  position: absolute;
  left: 20px;
  top: -4px;
  background-color: #4489f3;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: #fff;
  border-radius: 4px;
  width: 28px;
  height: 43px;
  position: absolute;

  span {
    position: relative;
    top: 8px;
  }
}

.smile-width {
  width: 50%;
}

.smile-block-art {
  position: absolute;
  display: inline-flex;
  border-radius: 12px 12px 0 0;
  padding: 12px 16px;
  background-color: #4489f3;
  top: -42px;
  left: 0;
  line-height: 1;

  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.smile__block {
  padding: 16px;
  display: flex;
  gap: 16px;
  position: relative;
  border-radius: 0 12px 12px 12px;
}

.smile__block-blue {
  background-color: #4489f3;
  max-width: 526px;
  width: 100%;
}

.smile__block-green {
  max-width: 784px;
  width: 100%;
}

.smile-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.tehnology-padding {
  padding: 40px;
}

.smile-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #272727;
  margin-bottom: 8px;
}

.smile-description {
  font-weight: 400;
  font-size: 14px;
  color: #272727;
  line-height: 140%;
}

.smile__block-green {
  background-color: #1ec59e;

  .smile-art {
    background-color: #1ec59e;
  }

  .smile-block-art {
    background-color: #1ec59e;
  }
}

.tehnology_bg {
  background-color: #feebdb;
}

.tehnology__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tehnology__container {
  width: calc(100% - 695px);
}

.tehnology__image {
  width: 695px;
  border-radius: 20px;
  background: #f8f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tehnology-circle {
  position: absolute;
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  border-radius: 50%;
  color: #fff;
  transition: all 0.2s ease;

  &.active {
    transform: scale(1.1);
  }
}

.tehnology-circle:nth-child(1) {
  background-color: #1ec59e;
  top: 199px;
  left: 174px;
}

.tehnology-circle:nth-child(2) {
  background-color: #da39d8;
  top: 183px;
  left: 409px;
}

.main-content {
  margin-bottom: 34px;
}

.tehnology-circle:nth-child(3) {
  background-color: #4489f3;
  left: 239px;
  top: 300px;
}

.tehnology-circle:nth-child(4) {
  background-color: #fa9d4c;
  left: 500px;
  top: 246px;
}

.main-description {
  font-weight: 700;
  font-size: 20px;
  text-transform: lowercase;
  color: #272727;
  opacity: 0.4;
  margin-bottom: 32px;
}

.tehnology_offset {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.tehnology-image-container {
  position: relative;
}

.tehnology__container {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
}

.tehnology-image-numbers {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.tehnology__item {
  padding: 44px 22px 22px 22px;
  border-radius: 60px 60px 8px 8px;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.tehnology__label {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 15px;
}

.tehnology__descript {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #fff;
  opacity: 0.8;
}

.tehnology__width {
  width: 50%;
  padding: 10px;

  &:first-child {
    .tehnology__item {
      background-color: #1ec59e;
    }
  }

  &:nth-child(2) {
    .tehnology__item {
      background-color: #e65be5;
    }
  }

  &:nth-child(3) {
    .tehnology__item {
      background-color: #4489f3;
      border-radius: 8px 8px 60px 60px;
      padding: 24px 40px 24px 24px;
    }
  }

  &:nth-child(4) {
    .tehnology__item {
      background-color: #fbad69;
      border-radius: 8px 8px 60px 60px;
      padding: 24px 44px 24px 24px;
    }
  }
}

.tehnology__circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px dashed #fff;

  margin-bottom: 12px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tehnology_offset {
  padding-top: 111px;
  padding-bottom: 78px;
}

.perfect_bg {
  background: #f8f8f9;
}

.perfect_offset {
  padding-top: 100px;
  padding-bottom: 115px;
}

.perfect__container {
  background-color: #fff;
  border-radius: 40px;
  padding: 40px;
  padding-top: 33px;
}

.perfect__wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0 -10px;
}

.perfect__width {
  width: 25%;
  padding: 0 10px;
}

.perfect__item {
  background: #f8f8f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #fff;
  border-radius: 20px;
  padding: 16px;
}

.perfect-step {
  border-radius: 50px;
  line-height: 1;
  padding: 8px 16px;
  background: linear-gradient(270deg,
      rgba(30, 197, 158, 0.2) 0%,
      rgba(68, 137, 243, 0.2) 100%);
  margin-bottom: 16px;
}

.perfect__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #272727;
  margin-bottom: 20px;
}

.perfect__descript {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #272727;
  opacity: 0.8;
  margin-bottom: 23px;
}

.perfect__image {
  border-radius: 16px;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.will-do_bg {
  background-color: #f8f8f9;
}

.will-do_offset {
  padding: 80px 0;
  padding-bottom: 180px;
}

.will-do .main-title {
  color: #1ec59e;
}

.will-do__block {
  padding: 20px;
  border-radius: 20px;

  &:first-child {
    background-color: #1ec59e;

    .will-do__circle {
      background-color: #1ec59e;
    }
  }

  &:last-child {
    background: #fbad69;

    .will-do__circle {
      background-color: #fbad69;
    }
  }
}

.will-do-label {
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #fff;
  line-height: 1;
  margin-bottom: 32px;
}

.will-do__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -10px;
}

.will-do__width {
  width: 50%;
  padding: 10px;
}

.will-do-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.will-do__item {
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
}

.will-do__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #272727;
}

.will-do__circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.advantages_bg {
  background-color: #4489f3;
}

.advantages_offset {
  padding: 80px 0;
}

.advantages {
  border-radius: 80px;

  .main-title {
    color: #fff;
  }

  .main-description {
    color: #fff;
    opacity: 0.6;
  }
}

.advantages__wrap {
  display: flex;
  align-items: flex-start;
}

.advantages__width {
  &:first-child {
    max-width: 335px;
    width: 100%;
    padding-right: 20px;

    .adventages__list {
      &:first-child {
        font-weight: 500;
      }
    }
  }

  &:nth-child(2) {
    max-width: 571px;
    width: 100%;
    padding-right: 20px;

    .adventages__list {
      background-color: #fff;
      color: #272727;

      &:first-child {
        font-weight: 600;
        color: #4489f3;
      }
    }
  }

  &:nth-child(3) {
    max-width: 453px;
    width: 100%;

    .adventages__list {
      background: #8fb8f8;
      color: #fff;

      &:first-child {
        font-weight: 400;
      }
    }
  }
}

.adventages__list {
  padding: 19px;
  border: 1px solid #fff;
  border-radius: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  &:first-child {
    font-size: 28px;
  }
}

.advantages__col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.consulting__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 37px;

  .main-title {
    max-width: 505px;
    width: 100%;
  }
}

.consulting__container {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center;
}

.consulting_offset {
  padding-top: 100px;
}

.consulting__wrapper {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}

.consulting__item {
  border-radius: 20px;
  padding: 40px;
  max-width: 474px;
  width: 100%;
  background-color: #fff;
}

.consulting__img {
  margin-bottom: 32px;
}

.consulting__label {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #272727;
  margin-bottom: 36px;
}

.consulting-wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 35px;
}

.consulting__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  display: inline-block;
  color: #272727;
  margin-bottom: 12px;
}

.consulting__sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #272727;
  opacity: 0.8;
}

.consulting__button {
  margin-top: 32px;
}

.btn_orange {
  background: #fbad69;
}

.btn_green {
  background-color: #1ec59e;
}

.panel_offset {
  padding-top: 180px;
  padding-bottom: 80px;
}

.panel__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 45px;
  position: relative;

  img {
    left: 541px;
    position: absolute;
    top: -70px;
  }
}

.panel__container {
  position: relative;
  border: 1px dashed #4489f3;
  border-radius: 40px;
  padding: 40px;
  text-align: center;
  max-width: 1164px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;

  p {
    max-width: 1012px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #272727;
  }
}

.panel__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .btn {
    font-size: 20px;
  }
}

.panel-img-2 {
  position: absolute;
  right: -40px;
  top: -48px;
}

.panel-img-3 {
  bottom: -66px;
  left: 35px;
  position: absolute;
}

.panel-img-4 {
  left: 310px;
  position: absolute;
  top: -39px;
}

.panel-img-5 {
  position: absolute;
  bottom: -96px;
  right: 268px;
}

.personal_offset {
  padding-top: 100px;
  padding-bottom: 100px;
}

.personal__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;

  .main-title {
    max-width: 827px;
    width: 100%;
    margin-bottom: 0;
  }
}

.personal-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 32px;
}

.personal-container {
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.history {
  border-radius: 80px;

  &_bg {
    background: #feebdb;
  }

  &_offset {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.about__block {
  .main-title {
    margin-bottom: 0;
  }

  margin-bottom: 34px;
}

.history__image {
  width: 574px;
  position: relative;

  img {
    position: absolute;
    left: -133px;
    top: -86px;
  }
}

.history__content {
  padding-left: 20px;
  width: calc(100% - 574px);
  margin-top: -10px;
}

.history__container {
  display: flex;
  align-items: flex-start;
}

.history__label {
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 28px;
}

.history__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 60px;

  p {
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.history__cont {
  border-radius: 20px;
  padding: 57px 80px;

  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #272727;
  background: #fff;
}

.about__offset {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.about-tabs {
  display: inline-flex;
  background-color: #fff;
  border-radius: 80px;
  padding: 4px;
}

.about_bg {
  background: #f8f8f9;
}

main {
  background: #f8f8f9;
}

.about-tabs__link {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 80px;
  padding: 9px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #272727;

  &.active {
    box-shadow: 0 2px 6px 0 rgba(84, 105, 139, 0.2);
    background: #4489f3;
    color: #fff;
  }
}

.about-sw-widget {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about-arrows {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4489f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  &-left {
    position: relative;
    left: -1px;
  }

  &-right {
    position: relative;
    left: -1px;
  }
}

.about-sw-number {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.sw-line {
  width: 42px;
  height: 1px;
  background-color: #272727;
}

.about__name {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 19px;
}

.about__item {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.about__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 20px;
}

.about__art {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: lowercase;
  color: #1ec59e;
  margin-bottom: 20px;
}

.about__data {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #272727;
  opacity: 0.6;
}

.sertificat__list {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .main-title {
    margin-bottom: 0;
  }

  justify-content: space-between;
}

.sertificat-sw-arrow {
  border: 1px solid #4489f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sertificat__download {
  bottom: 7px;
  position: relative;
  right: 7px;
}

.sertificat__image {
  display: inline-flex;
  margin-bottom: 9px;

  img {
    width: 100%;
  }
}

.sertificat-sw-arrows {
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sertificat__wrap {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.online__container {
  position: relative;
  padding: 66px 40px;
  background: #d2f3ec;
  border-radius: 40px;
}

.online__col {
  max-width: 775px;
  width: 100%;
}

.online_bg {
  background-color: #1ec59e;
}

.online-image {
  position: absolute;
  right: -200px;
  top: -85px;
}

.online__label {
  color: #1ec59e;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.online__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 60px;
}

.sertificat_offset {
  padding-bottom: 100px;
}

.online_offset {
  padding: 80px 0;
}

.quest__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quest__label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  padding-bottom: 8px;
  border-radius: 16px;
  padding-right: 26px;
  justify-content: space-between;

  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #272727;
}

.quest__left {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.4s ease;

  img {
    opacity: 0.6;
  }
}

.quest__description {
  padding-left: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #272727;
  opacity: 0.8;

  p {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper_large {
  margin: 0 auto;
  max-width: 1195px;
  width: 100%;
  padding: 0 15px;
}

.quest__content {
  border-radius: 0 0 16px 16px;
  padding: 0px 20px 20px 0;
}

.quest_offset {
  padding-top: 100px;
  padding-bottom: 100px;
}

.quest__item {
  background-color: #fff;
  border-radius: 16px;
  transition: all 0.4s ease;

  &.active {
    background: #d2f3ec;

    .quest-arrow {
      transform: rotate(180deg);
      position: relative;
      top: 1px;
    }

    .quest__left {
      img {
        opacity: 1;
      }
    }
  }
}

.map-yandex {
  padding-left: 20px;
  border-radius: 20px;
  overflow: hidden;
  height: 812px;
  width: 100%;
  border-radius: 20px;
}

.map-yandex-api {
  height: 812px;
}

.map__container {
  display: flex;
  align-items: flex-start;
}

.map-widget {
  width: 453px;
  border-radius: 20px;
  padding: 20px;
  height: 812px;
  background-color: #fff;
}

.map-widget__container {
  height: calc(100% - 20px);
  overflow: hidden;
}

.map-yandex {
  width: calc(100% - 453px);
}

.map-widget__label-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 20px;
}

.input_default {
  border-radius: 8px;
  padding: 16px 20px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  height: 54px;
}

.map-widget__search {
  position: relative;
  margin-bottom: 16px;

  button {
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    line-height: 1;
    transform: translateY(-50%);
    right: 20px;
  }
}

.map-widget__item {
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  display: inline-flex;
  background: #f8f8f9;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    background-color: #e3e3e3;
  }
}

.map-widget__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 8px;
}

.map-widget__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.map-widget__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #272727;
  opacity: 0.8;
}

.map-widget-arrow {
  bottom: 10px;
  position: absolute;
  right: 0px;
}

.map-widget__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  height: calc(100% - 105px);
}

.footer {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.footer_bg {
  background-color: #4489f3;
}

.map_offset {
  padding-bottom: 100px;
}

.footer__col {
  width: 453px;
}

.footer__form {
  width: calc(100% - 453px);
}

.footer__label {
  font-weight: 600;
  font-size: 54px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
  line-height: 1.3;
}

.footer__panel {
  border-radius: 80px 80px 16px 16px;
  padding: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__desc {
  font-weight: 700;
  font-size: 20px;
  text-transform: lowercase;
  color: #272727;
  opacity: 0.6;
  line-height: 1.2;
}

.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #272727;
}

.footer__art {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #272727;
  opacity: 0.8;
}

.footer__content {
  display: flex;
  align-items: flex-start;
}

.footer__form {
  padding-left: 20px;
  width: calc(100% - 453px);
}

.footer-form__content {
  padding: 40px;
  padding-top: 45px;
  background-color: rgb(255 255 255 / 60%);
  border-radius: 16px;

  .footer__desc {
    margin-bottom: 32px;
  }
}

.footer-button {
  .btn {
    max-width: 280px;
    width: 100%;
  }
}

.footer-check {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.footer__item {
  position: relative;
}

.input-footer {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 80px;
  padding: 18px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  height: auto;
  color: #272727;
}

.input-file-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  left: 40px;
}

.input-file {
  padding-left: 84px;
}

.footer-file-input {
  width: 100%;
  position: relative;

  input {
    display: none;
  }
}

.input-file-line {
  border: 2px solid #fff;
  border-radius: 80px;
  padding: 20px 40px;
  width: 100%;
  padding-left: 84px;
  height: 65px;
  opacity: 0.8;
  line-height: 1.2;
}

.footer-check {
  input {
    display: none;
  }
}

.input-checkbox {
  position: relative;
  line-height: 1;
  font-size: 0;

  input:checked {
    &~.input-checkbox-item {
      .check-arrow {
        border-bottom: 1px solid #4489f3;
        border-right: 1px solid #4489f3;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        height: 6px;
        width: 4px;
        position: relative;
        transform: rotate(45deg);
        top: -1px;
      }
    }
  }
}

.input-checkbox-item {
  width: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #4489f3;
}

.input-checkbox-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #272727;
  opacity: 0.6;

  a {
    color: #272727;
    display: inline-flex;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.footer_offset {
  padding-top: 80px;
}

.footer__content {
  margin-bottom: 102px;
}

.footer-under {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navbar {
  max-width: 453px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -10px -17px;

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }
}

.footer-navbar-width {
  padding: 10px 17px;
}

.footer-under {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(0deg 0% 100% / 20%);
}

.footer-under__cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-under__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 220px;

  a {
    color: #fff;
    font-size: 14px;
    line-height: 140%;
  }
}

.footer-bottom-art {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #fff;
  opacity: 0.8;
  display: flex;
  align-items: center;

  span {
    max-width: 455px;
    width: 100%;
    display: inline-flex;
    margin-right: 20px;
  }

  a {
    color: #fff;
    font-size: 14px;
  }
}

.compare__container {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 36px;
}

.compare-image-1 {
  position: absolute;
  bottom: -40px;
  left: -70px;
}

.compare-image-2 {
  position: absolute;
  right: -66px;
  top: -110px;
}

.compare_offset {
  padding-bottom: 115px;
}

.compare-sl {
  height: 333px;
  width: 930px;

  img {
    height: 100%;
    width: 100%;
  }
}

.before-after {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: none;

  &.active {
    display: block;
  }
}

.compare-widget {
  width: calc(100% - 930px);
  padding-left: 20px;
}

.sic-main .sic-label-one,
.sic-main .sic-label-two {
  background-color: #fff !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 140%;
  line-height: 1;
  color: #272727 !important;
  padding: 7px 13px !important;
  bottom: auto;
  top: 20px;
}

.sic-arrows {
  display: none;
}

.sic-main .sic-circle {
  height: 40px;
  left: 13px;
  width: 17px;
  border-radius: 20px;
  background-color: #1ec59e;
  border-color: #1ec59e;

  &:before {
    content: "";
    display: inline-flex;
    height: 23px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    width: 6px;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.map-widget__item.active {
  background-color: #e3e3e3;
}

.compare-label {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #272727;
  margin-bottom: 16px;
}

.compare__col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.compare-widget__link {
  background: #fff;
  border-radius: 40px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #272727;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  transition: all 0.2s ease;
  cursor: pointer;

  &.active {
    justify-content: flex-start;
    background-color: #4489f3;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    path {
      stroke: #fff !important;
    }

    g {
      opacity: 1;
    }
  }

  &:hover {
    justify-content: flex-start;
    background-color: #4489f3;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    path {
      stroke: #fff !important;
    }

    g {
      opacity: 1;
    }
  }
}

.about-swiper {
  overflow: hidden;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.about-swiper {
  display: none;

  &.active {
    display: block;
  }
}

.sertificat-swiper {
  overflow: hidden;
}

// index-swiper
.index-container-sl {
  position: relative;
  width: 100%;
  background-color: #ecf3fe;
  padding: 40px 80px;
  border-radius: 0 80px 80px 80px;
}

.index-swiper {
  max-width: 926px;
  width: 100%;
  margin: 0 auto;
}

.index-swiper__item {
  background-color: #4489f3;

  border-radius: 20px;
  padding: 24px;
  position: relative;
}

.index-swiper__label {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #fff;
}

.index-swiper__content {
  min-height: 232px;
  max-width: 429px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #272727;
}

.index-swiper-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.index-swiper-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.index-container-sl {
  position: relative;
}

.index-swiper-right {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-63%) translateX(93%);
  left: 50%;
}

.index-container-sl-left {
  pointer-events: none;
  height: 240px;
  padding: 24px;
  background-color: #bcd4fb;
  border-radius: 20px;
  width: 620px;
  position: absolute;
  transform: rotate(-3deg);
  top: 54px;
}

.index-container-sl-label {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #fff;
}

.index-container-sl-img {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.simple-slider__nav {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-top: 39px;
}

.simple-slider__prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.simple-slider__next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.simple-slider__pagination {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #4489f3;
}

.index-swiper-wrap {
  gap: 10px;
}

@media (max-width: 1520px) {
  .compare-image-2 {
    right: 0;
  }

  .compare-image-1 {
    left: -12px;
    bottom: -51px;
  }

  .compare {
    .main-title {
      padding-right: 120px;
    }
  }
}

@media (max-width: 1420px) {
  .index__content {
    max-width: 780px;
  }

  .index__image {
    right: -142px;
  }

  .index__number {
    font-size: 80px;
  }

  .index__label {
    font-size: 25px;
  }
}

@media (max-width: 1360px) {
  .index__image {
    height: 650px;
    right: -68px;
    top: 21px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .compare-sl {
    width: 740px;
  }

  .compare-widget {
    width: calc(100% - 740px);
  }

  .index__item {
    min-height: 277px;
  }

  .tehnology__image {
    width: 535px;
    pointer-events: none;
  }

  .tehnology__wrapper {
    align-items: center;
  }

  .tehnology__container {
    width: calc(100% - 535px);
  }

  .tehnology__width {
    padding: 5px;
  }

  .tehnology__container {
    margin: -5px;
  }

  .tehnology__item {
    padding: 34px 17px 17px;
  }
}

@media (max-width: 1330px) {
  .index__image {
    right: -128px;
  }

  .online-image {
    right: -190px;
    width: 600px;
    top: -10px;
  }
}

@media (max-width: 1320px) {
  .index-swiper-right {
    transform: translateY(-63%) translateX(74%);
  }

  .index-container-sl-left {
    left: 30px;
  }
}

@media (max-width: 1290px) {
  .header-navbar {
    gap: 8px;
  }

  .header-navbar-link {
    font-size: 16px;
  }

  .adventages__list:first-child {
    font-size: 25px;
  }
}

@media (max-width: 1270px) {
  .index__image {
    right: -188px;
  }
}

@media (max-width: 1220px) {
  .index__content {
    max-width: 690px;
  }

  .index__item {
    min-height: 240px;
  }

  .index__number {
    font-size: 60px;
  }

  .index__image {
    right: -118px;
  }

  .index__subtitle {
    margin-bottom: 36px;
  }

  .index__content {
    max-width: 630px;
  }

  .footer-bottom {
    gap: 10px;
    justify-content: space-between;
  }

  .smile-container {
    flex-direction: column;
    gap: 60px;
  }

  .smile__block-blue {
    max-width: 100%;
  }

  .smile__block-green {
    max-width: 100%;
  }
}

@media (max-width: 1190px) {
  .index-swiper {
    max-width: 826px;
  }

  .adventages__list {
    font-size: 16px;
    padding: 13px;
  }

  .adventages__list:first-child {
    font-size: 22px;
  }

  .advantages__width:nth-child(2) {
    padding-right: 10px;
  }

  .advantages__width:first-child {
    padding-right: 10px;
  }

  .advantages_offset {
    padding: 40px 0;
  }

  .index__subtitle {
    br {
      display: none;
    }
  }

  .index__image {
    right: -178px;
  }

  .index-swiper-right {
    transform: translateY(-67%) translateX(62%);
  }

  .perfect__width {
    width: 50%;
  }

  .perfect__wrapper {
    flex-wrap: wrap;
  }

  .perfect__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .perfect__container {
    padding: 20px 15px;
  }

  .consulting__block {
    flex-direction: column;
    align-items: flex-start;
  }

  .consulting__block .main-title {
    max-width: 100%;
  }

  .consulting__block .main-subtitle {
    max-width: 100%;
  }

  .history__image {
    width: 577px;
  }

  .history__image img {
    left: -243px;
  }
}

@media (max-width: 1140px) {
  .index__label {
    font-size: 21px;
  }

  .tehnology__container {
    width: calc(100% - 445px);
  }

  .tehnology__image {
    width: 445px;
  }

  .online-image {
    right: -160px;
    top: 10px;
    width: 510px;
  }

  .online__col {
    max-width: 685px;
  }
}

@media (max-width: 1120px) {
  .index-swiper-right {
    transform: translateY(-67%) translateX(52%);
  }
}

@media (max-width: 1100px) {
  .compare-sl {
    width: 610px;
  }

  .compare-widget {
    width: calc(100% - 610px);
  }
}

@media (max-width: 1070px) {
  .tehnology__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .tehnology__container {
    width: 100%;
  }

  .tehnology__image {
    width: 100%;
  }

  .index__image {
    right: -208px;
  }
}

@media (max-width: 1050px) {
  .index-swiper-right {
    display: none;
  }

  .index-container-sl-left {
    display: none;
  }

  .index-swiper {
    max-width: 100%;
  }

  .history__image {
    width: 473px;
  }

  .history__content {
    width: calc(100% - 473px);
  }

  .index__content {
    max-width: 100%;
  }

  .index__content {
    margin: 0;
  }

  .header-navbar {
    display: none;
  }

  .index-width:last-child .index__item {
    border-bottom-right-radius: 0;
  }

  .index__container {
    display: flex;
    flex-direction: column-reverse;
    margin: -10px;
  }

  .index-container-sl {
    border-top-right-radius: 0;
  }

  .index-img-item-right {
    display: none;
  }

  .index__image {
    height: auto;
    top: auto;
    position: relative;
    right: auto;
  }
}

@media (max-width: 990px) {
  .history__content {
    padding-left: 0;
  }

  .footer__label {
    font-size: 30px;
  }

  .online__label {
    font-size: 30px;
  }

  .index_offset {
    padding-bottom: 100px;
  }

  .main-title {
    font-size: 28px;
  }

  .panel__title {
    font-size: 30px;
  }

  .index-container-sl {
    padding: 50px 40px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom-art {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 20px;
  }

  .footer-bottom-art span {
    max-width: 100%;
    margin-right: 0;
  }

  .footer-navbar-width {
    padding: 5px 7px;
  }

  .footer-under__cont {
    gap: 10px;
  }

  .footer-navbar {
    max-width: 389px;
  }

  .footer-under {
    gap: 10px;
  }

  .footer__col {
    width: 100%;
  }

  .footer__label {
    br {
      display: none;
    }
  }

  .footer__form {
    padding-left: 0;
    width: 100%;
  }

  .online-image {
    display: flex;
    flex-direction: column;
  }

  .history__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .online__col {
    max-width: 100%;
  }

  .online-image {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
  }

  .history__image img {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
  }

  .history__content {
    width: 100%;
  }

  .history__image {
    width: 100%;
  }

  .advantages__wrap {
    flex-wrap: wrap;
  }

  .advantages__width {
    width: 50%;
    padding: 5px;
  }

  .advantages__wrap {
    margin: -5px;
  }

  .advantages__width:nth-child(3) {
    max-width: 100%;
    width: 50%;
  }

  .advantages__width:first-child {
    padding-right: 0;
    width: 50%;
    max-width: 100%;
  }

  .advantages__width:nth-child(2) {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    order: -1;
  }

  .tehnology-padding {
    padding: 0;
  }

  .compare__container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .compare-widget {
    width: 100%;
    padding-left: 0;
  }

  .compare-widget__link {
    font-size: 16px;
    padding: 10px 15px;
  }

  .compare-sl {
    width: 100%;
  }

  .will-do__description {
    font-size: 16px;
  }

  .will-do__block {
    padding: 15px;
  }

  .will-do__width {
    padding: 5px;
  }

  .will-do__item {
    padding: 15px;
  }

  .will-do__container {
    margin: -5px;
  }

  .consulting__container {
    background-color: #feebdb;
    background-image: none !important;
  }

  .consulting__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .consulting__width {
    max-width: 100%;
  }

  .consulting__item {
    max-width: 100%;
  }

  .personal__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .map__container {
    flex-direction: column;
    gap: 15px;
  }

  .map-yandex {
    width: 100%;
    padding-left: 0;
    height: 400px;
  }

  .map-widget {
    height: 400px;
  }

  .map-yandex-api {
    height: 400px;
  }

  .map-widget {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .footer-under {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .footer-navbar {
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer-under__cont {
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .smile-width {
    width: 100%;
  }

  .smile__block {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .will-do__width {
    width: 100%;
  }

  .main-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .tehnology_offset {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .tehnology__item {
    padding: 20px;
  }

  .main-subtitle {
    font-size: 16px;
  }

  .advantages__width:nth-child(3) {
    width: 100%;
  }

  .advantages__width:first-child {
    width: 100%;
  }

  .index__buttons {
    flex-direction: column;

    .btn {
      width: 100%;
    }
  }

  .smile-wrap {
    padding: 20px;
    border-radius: 25px;
  }

  .index-width:last-child .index__item {
    padding: 20px;
  }

  .index-width:last-child .index__item {
    border-radius: 25px 25px 0 0;
  }

  .index__item {
    border-radius: 25px;
  }

  .index__item {
    min-height: 180px;
  }

  .index_offset {
    padding-bottom: 60px;
    padding-top: 104px;
  }

  .index-container-sl {
    padding: 20px;
  }

  .index__subtitle {
    font-size: 16px;
  }

  .index__number {
    font-size: 43px;
  }

  .index__label {
    font-size: 18px;
  }

  .index-width {
    padding: 5px;
  }

  .index__container {
    margin: -5px;
  }

  .index__desc {
    left: auto;
  }

  .index-container-sl {
    border-radius: 0 0 25px 25px;
  }

  .tehnology__item {
    border-radius: 8px;
  }

  .tehnology__width:nth-child(4) .tehnology__item {
    border-radius: 8px;
  }

  .tehnology_offset {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .tehnology__label {
    margin-bottom: 10px;
  }

  .perfect_offset {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .perfect__container {
    padding: 20px;
    border-radius: 25px;
  }

  .main-description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .perfect__width {
    width: 100%;
  }

  .perfect__wrapper {
    gap: 15px;
  }

  .compare-label {
    font-size: 20px;
  }

  .quest__description {
    padding-left: 23px;
    padding-right: 0;
    font-size: 14px;
  }

  .quest__description p {
    margin-bottom: 15px;
  }

  .map-widget__label-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .map-widget__item {
    padding: 15px;
    padding-right: 30px;
  }

  .map_offset {
    padding-bottom: 60px;
  }

  .footer_offset {
    padding-top: 60px;
  }

  .map-widget__label {
    font-size: 16px;
  }

  .map-widget {
    padding: 15px;
  }

  .map-widget,
  .map-yandex,
  .map-yandex-api {
    height: 280px;
  }

  .compare-widget__link {
    font-size: 14px;
    padding: 6px 13px;

    svg {
      width: 16px !important;
    }
  }

  .compare-sl {
    height: 250px;
  }

  .compare_offset {
    padding-bottom: 60px;
  }

  .will-do_offset {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .advantages {
    border-radius: 25px;
  }

  .adventages__list:first-child {
    font-size: 20px;
  }

  .consulting_offset {
    padding-top: 60px;
  }

  .consulting__block {
    margin-bottom: 25px;
  }

  .consulting__label {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .consulting__img {
    margin-bottom: 20px;
  }

  .consulting-wrap {
    margin-bottom: 20px;
  }

  .consulting__link {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .footer {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .map-widget {
    height: 352px;
  }

  .footer__panel {
    border-radius: 16px;
    padding: 20px;
    gap: 12px;
  }

  .footer__content {
    margin-bottom: 60px;
  }

  .footer-button {
    .btn {
      width: 100%;
      max-width: 100%;
    }
  }

  .footer-form__content .footer__desc {
    margin-bottom: 15px;
  }

  .footer-form__content {
    padding: 20px;
  }

  .footer__box {
    gap: 5px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__desc {
    font-size: 18px;
  }

  .consulting__sub {
    font-size: 14px;
  }

  .consulting__button {
    margin-top: 15px;

    .btn {
      width: 100%;
    }
  }

  .consulting__item {
    padding: 20px;
  }

  .panel_offset {
    padding-top: 60px;
  }

  .panel__title {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .panel__container {
    padding: 20px;
  }

  .panel__container p {
    font-size: 20px;
  }

  .panel-img-3 {
    width: 50px;
    bottom: -26px;
    left: 5px;
  }

  .panel__container {
    border-radius: 25px;
  }

  .panel-img-2 {
    right: -20px;
    top: -18px;
    width: 50px;
  }

  .panel-img-4 {
    left: 350px;
    position: absolute;
    top: -44px;
    width: 50px;
  }

  .panel-img-5 {
    bottom: -46px;
    right: 328px;
    width: 50px;
  }

  .panel_offset {
    padding-bottom: 60px;
  }

  .personal_offset {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .history_offset {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .history__label {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .about__offset {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .about__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }

  .about__name {
    margin-bottom: 15px;
  }

  .about__art,
  .about__description {
    margin-bottom: 15px;
  }

  .sertificat__list {
    margin-bottom: 20px;
  }

  .online__label {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .online__subtitle {
    font-size: 16px;
  }

  .online__subtitle {
    margin-bottom: 20px;
  }

  .online__button {
    .btn {
      width: 100%;
    }
  }

  .quest_offset {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .quest__left {
    gap: 10px;

    img {
      width: 40px;
    }
  }

  .quest__label {
    font-size: 16px;
    line-height: 1.2;
    padding: 12px 20px;
  }

  .online__container {
    border-radius: 25px;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .online_offset {
    padding: 60px 0;
  }

  .sertificat_offset {
    padding-bottom: 60px;
  }

  .sertificat__label {
    font-size: 14px;
    line-height: 1.2;
  }

  .about__block {
    margin-bottom: 15px;
  }

  .about-sw-widget {
    width: 100%;
    justify-content: space-between;
  }

  .history__description {
    font-size: 18px;
  }

  .history__description p {
    margin-bottom: 20px;
  }

  .history__description {
    margin-bottom: 20px;
  }

  .history__cont {
    padding: 15px;
    font-size: 16px;
  }

  .history {
    border-radius: 25px;
  }

  .footer__label {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .tehnology__width {
    width: 100%;
  }

  .tehnology__width:nth-child(2) .tehnology__item {
    border-radius: 8px;
  }

  .tehnology__width:nth-child(3) .tehnology__item {
    border-radius: 8px;
  }

  .index-width {
    width: 100%;
  }

  .index__item {
    min-height: auto;
  }

  .btn_default {
    font-size: 16px;
  }

  .index__subtitle {
    margin-bottom: 16px;
  }

  .index__label {
    text-align: center;
  }

  .index-container-sl {
    padding-top: 0;
  }

  .index-swiper-wrap {
    flex-direction: column;
  }

  .simple-slider__next,
  .simple-slider__pagination,
  .simple-slider__prev {
    width: 40px;
    height: 40px;
  }

  .simple-slider__pagination {
    font-size: 14px;
  }

  .index-swiper__content {
    min-height: auto;
  }

  .simple-slider__nav {
    margin-top: 20px;
  }

  .index-swiper__item {
    padding-bottom: 100px;
  }

  .index__desc {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .compare-image-2 {
    display: none;
  }

  .compare .main-title {
    padding-right: 0;
  }
}